html,body {
  height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2;
	font-size: 1em;
	line-height: 1.5em;
}

#map {
	height: 94.6%;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

a img{
	width: 26px;
  height: 26px;
	margin-left: -2em;
	margin-top: 1px;
}

.header {
	background: #333;
	color: white;
	height: 35px; /* Alto del header */
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0;  /* Posicionamos la cabecera al lado izquierdo */
	top: 0;
	display: flex;
  align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.header a {
	color: white;
	align-items: center;
}

/* ---Logo del Header */

.logo img{
	float: left;
	padding: 0px 0 0 0px;
	text-decoration: none;
}

.logo :hover {
	color: #FFFF00;
}

a:hover {
	text-decoration: none;
}

/* ------Titulo del logo------ */

.logo .platzigram {
  font-family: 'Oleo Script';
	font-size: 25px;
	margin-left: -22em;
	position: absolute;
	margin-top: 2px;
	
}

.fa-globe-americas{
	margin-left: -14em;
	font-size: 1.4em;
	top: 4pt;
}
	
.fa-comment-dots{
	margin-left: -12em;
	font-size: 1.5em;
	top: 4pt;
}
	
.fa-sync-alt{
	margin-left: -10em;
	font-size: 1.4em;
	top: 4pt;
}

/* ----- Icono del menu----- */

.fa-bars{
	font-size: 25px;
	padding: 0px;
	margin-left: 4px;
}

.iconos {
	padding: 0;
	margin: 0;
}
.iconos a {
	margin-left: 2em;
	position: relative;
	top: 2px;
}

nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
}

nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}

nav ul li a:hover {
	background: #0b76a6;
}

#floating-panel{
	position: absolute;
	top: 4px;
	left: 1px; /*Ubicacion del panel en la vista*/
	z-index:2;
	background-color: #333;
	padding: 0px;
	border: 0px solid #000;
	text-align: center;
	font-family: 'Roboto','sans-serif';
	line-height: 1px;
	padding-left: 1px;
	margin: 0px; /*Altura del panel*/
}

.dropdown-menu{
  background-color: transparent;
  width: 35px; /*Ancho botones*/
	height: 30px;
	margin-top: -4px;
}

.btn-primary{
  width: 35px; /*Ancho botones*/
  height: 30px;
  border-radius: 10px;
  padding: 3px;
  background: #333;
  border: #333;
}

.btn-primary:hover{
	color: #fff;
	background-color: #333;
	border-color: #333;
}
.btn-primary.active.focus{
	color: #fff;
	background-color: #333;
	border-color: #333;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #333;
	border-color: #333;
}

.btn-primary:hover {
	color: #fff;
	background-color: #333;
	border-color: #333;
}

.btn-primary {
	color: #fff;
	background-color: #333;
	border-color: #333;
}

.btn-success{
	top: 0px;
	left: 0px;
	width: 183px; /*Ancho botones*/
	height: 35px;
	border-radius: 10px;
	position: 5px;
	font-weight: bold;
}

.btn-success{
  color: white;
  margin: 1;
  padding: 1;
  size: 2%;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007da7;
}

.btn-success:hover{
  color: #0b76a6;
  color: #FFFF00;
}

.enlace {
  display:inline;
  border:0;
  padding:0;
  margin:35px;
  background:none;
  color:#000088;
  font-family: arial, sans-serif;
  font-size: 1em;
  line-height:2.5em;
}

.enlace:hover {
  text-decoration:none;
  color:#0000cc;
  cursor:pointer;
}

.table-bordered {
  width: 20%;
}

th, td {
   width: 20%;
}

/* Controles del Zom */
.gm-control-active {
  background-color: #A1A457 !important;
	display: block;
  border: 1px solid yellow !important;
  border-radius: 20px !important;
	margin: 0px;
	/* padding-bottom: 10px !important; */
	position: relative;
	cursor: pointer;
	user-select: none;
	overflow: hidden;
	width: 40px !important;
	height: 40px !important;
	top: 2px  !important;
	left: 0px;
}

/* Fondo de los controles del zom */
 .gmnoprint div{
  background-color: transparent !important;

}

 div .gm-svpc {
	/* background-color:#A1A457 !important ; */
	 border: 1px solid yellow !important;
}


.gmnoprint.gm-style-mtc {

  margin: 10px;
    z-index: 0;
    position: absolute;
    cursor: pointer;
    justify-content: center !important;
    text-align: right !important;
    align-content: center !important;
    align-items: center !important;
    /* padding: 2px 2px !important; */
    width: 103px !important;
    
    left: 0px;
    top: 0px;
    /* background-color: yellow !important; */
    border-radius: 20px;
    height: 30px;
    border: 1px solid black !important;
    
}

.gmnoprint.gm-style-mtc div{
   direction: ltr;
    overflow: hidden;
    text-align: left;
    position: relative;
   /*  color: rgb(0, 0, 0); */
    color: white !important;
    font-family: Roboto, Arial, sans-serif;
    user-select: none;
    font-size: 18px;
    background-color:#A1A457 !important ;
    padding: 3px 2px 3px 2px !important;
    width: 100px !important;
   
    background-clip: padding-box;
/*     box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; */
    font-weight: 500 !important;
    border-radius: 20px !important;
   /*  border: 1px solid yellow !important; */
    
}
  
.gm-style .gm-style-mtc label {
    font-weight: 10 !important;
    padding: 3px 3px 3px 1px !important;
}





/*------------------Medias Querys---------------------- */

@media screen and (max-width: 1400px) {

	.logo .platzigram {
		font-family: 'Oleo Script';
		font-size: 23px;
		margin-left: 1em;
		position: absolute;
		margin-top: 2px;
	}

  .logo {
  	float: left;
  	padding: 2px 0 0 0px;
  	text-decoration: none;
	}

	.logo img{
		float: left;
		padding: 0px 0 0 0px;
		text-decoration: none;
	}

  a img{
		width: 26px;
    height: 26px;
		margin-left: -30px;
		margin-top: -1px;
	}

	.btn-success{
		top: 0px;
		left: 0px;
		width: 204px; /*Ancho botones*/
		height: 35px;
		border-radius: 10px;
		position: 5px;
	}

	.fa-globe-americas{
		margin-left: -14em;
		font-size: 1.4em;
		top: 4pt;
	}
			
	.fa-comment-dots{
		margin-left: -12em;
		font-size: 1.5em;
		top: 4pt;
	}
			
	.fa-sync-alt{
		margin-left: -10em;
		font-size: 1.4em;
		top: 4pt;
	}
	.iconos {
			margin-left: 200px;
	}

	.btn-success{
		left: 0px;
		width: 160px; /*Ancho botones*/
		height: 40px;
		border-radius: 10px;
		position: 5px;
		font-weight: bold;
	}
}
@media screen and (max-width: 1260px) {
	a img{
		width: 26px;
    height: 26px;
		margin-left: 30px;
		margin-top: 2px;
	}
}

@media screen and (max-width: 1224px) {
	a img{
		width: 26px;
    height: 26px;
		margin-left: 15px;
		margin-top: 2px;
	}
}

@media screen and (max-width: 1200px) {
	a img{
		width: 26px;
    height: 26px;
		margin-left: 50px;
		margin-top: 2px;
	}
}

@media screen and (max-width: 1040px) {
	a img{
		width: 26px;
    height: 26px;
		margin-left: 35px;
		margin-top: 2px;
	}
}

@media screen and (max-width: 1024px) {
	a img{
		width: 26px;
    height: 26px;
		margin-left: 15px;
		margin-top: 2px;
	}
}

@media screen and (max-width: 768px) {

	.header {
		
		height: 45px; /* Alto del header */
	}

	#map {
		height: 88%;
	}
	
	.fa-bars{
		font-size: 30px;
		padding: 0px;
		margin-left: 4px;
	/* 	margin-top: 4px;  */
		margin-top: 2px; 
	
}
	/* .add-button {
  display: block;
} */

	/* Controles del Zom */
  .gm-control-active {
		background-color: #A1A457 !important;
		display: block;
		border: 1px solid yellow !important;
		border-radius: 20px !important;
		margin: 0px;
		/* padding-bottom: 10px !important; */
		position: relative;
		cursor: pointer;
		user-select: none;
		overflow: hidden;
		width: 40px !important;
		height: 40px !important;
		top: 2px  !important;
		left: 0px;
	}
	
	/* Fondo de los controles del zom */
	 .gmnoprint div{
		background-color: transparent !important;
	
	}
	
	.gmnoprint.gm-style-mtc {
		margin: 10px;
		z-index: 0;
		position: absolute;
		cursor: pointer;
		justify-content: center !important;
		text-align: right !important;
		align-content: center !important;
		align-items: center !important;
		/* padding: 2px 2px !important; */
		width: 102px !important;
		left: 0px;
		top: 0px;
		border-radius: 20px;
		height: 30px;
		border: 1px solid yellow !important;
	}
	
	.gmnoprint.gm-style-mtc div{
		direction: ltr;
		overflow: hidden;
		text-align: left;
		position: relative;
		color: white !important;
		font-family: Roboto, Arial, sans-serif;
		user-select: none;
		font-size: 18px;
		background-color:#A1A457 !important ;
		padding: 3px 3px 3.8px 2px !important;
		width: 100px !important;
		background-clip: padding-box;
		font-weight: 500 !important;
		border-radius: 20px !important;
	}
		
	.gm-style .gm-style-mtc label {
		font-weight: 10 !important;
		padding: 3px 3px 3px 1px !important;
	}
	
	#map {
		height: 95%;
	}
	.logo .platzigram {
		font-family: 'Oleo Script';
		font-size: 23px;
		margin-left: 90px;
		position: absolute;
		margin-top: 2px;
	}

  .logo {
  	float: left;
  	padding: 2px 0 0 0px;
  	text-decoration: none;
	}

	.logo img{
		float: left;
		padding: 0px 0 0 0px;
		text-decoration: none;
	}

  a img{
		width: 26px;
    height: 26px;
		margin-left: 40px;
		margin-top: -1px;
	}

	.iconos {
		margin-left: 450px;
	}

	.iconos a {
		margin-left: 40px;
		position: relative;
		top: 2px;
	}
}

@media screen and (max-width: 670px) {
	#map {
		height: 94%;
	}

	.logo .platzigram {
		font-family: 'Oleo Script';
		font-size: 23px;
		margin-left: 40px;
		position: absolute;
		margin-top: 2px;
	}

	a img{
		width: 26px;
    height: 26px;
		margin-left: 15px;
		margin-top: -1px;
	}
	.iconos {
		margin-left: 350px;
	}
}

@media  (max-width: 600px) {
	#map {
		height: 94%;
	}

	.logo .platzigram {
		font-family: 'Oleo Script';
		font-size: 16px;
		margin-left: 15px;
		position: absolute;
		margin-top: 4px;
	}

  .logo {
  	float: left;
  	padding: 2px 0 0 0px;
  	text-decoration: none;
	}

	.logo img{
		float: left;
		padding: 0px 0 0 0px;
		text-decoration: none;
	}

  a img{
		width: 26px;
    height: 26px;
		margin-left: 15px;
		margin-top: 2px;
	}

	.fa-globe-americas{
		margin-left: -14em;
		font-size: 1.5em;
		top: 4pt;
	}
			
	.fa-comment-dots{
		margin-left: -12em;
		font-size: 1.5em;
		top: 4pt;
	}
			
	.fa-sync-alt{
		margin-left: -10em;
		font-size: 1.5em;
		top: 4pt;
	}

	.iconos {
		margin-left: 300px;
	}
	
	.iconos a {
		margin-left: 15px;
		position: relative;
		top: 5px;
	}
}

@media  (max-width: 580px) {
	#map {
		height: 94%;
	}

	.logo .platzigram {
		font-family: 'Oleo Script';
		font-size: 16px;
		margin-left: 28px;
		position: absolute;
		margin-top: 4px;
	}

  .logo {
  	float: left;
  	padding: 2px 0 0 0px;
  	text-decoration: none;
	}

	.logo img{
		float: left;
		padding: 0px 0 0 0px;
		text-decoration: none;
	}

  a img{
		width: 26px;
    height: 26px;
		margin-left: 15px;
		margin-top: 2px;
	}

	.fa-globe-americas{
		margin-left: -14em;
		font-size: 1.5em;
		top: 4pt;
	}
			
	.fa-comment-dots{
		margin-left: -12em;
		font-size: 1.5em;
		top: 4pt;
	}
			
	.fa-sync-alt{
		margin-left: -10em;
		font-size: 1.5em;
		top: 4pt;
	}

	.iconos {
		margin-left: 300px;
	}
	
	.iconos a {
		margin-left: 15px;
		position: relative;
		top: 5px;
	}
}

@media  (max-width: 480px) {
	#map {
		height: 94%;
	}

	.logo .platzigram {
		font-family: 'Oleo Script';
		font-size: 16px;
		margin-left: 16px;
		position: absolute;
		margin-top: 4px;
	}

  .logo {
  	float: left;
  	padding: 2px 0 0 0px;
  	text-decoration: none;
	}

	.logo img{
		float: left;
		padding: 0px 0 0 0px;
		text-decoration: none;
	}

  a img{
		width: 26px;
    height: 26px;
		margin-left: 30px;
		margin-top: 1px;
	}

	.fa-globe-americas{
		margin-left: -14em;
		font-size: 1.5em;
		top: 4pt;
	}	
			
	.fa-comment-dots{
		margin-left: -12em;
		font-size: 1.5em;
		top: 4pt;
	}
			
	.fa-sync-alt{
		margin-left: -10em;
		font-size: 1.5em;
		top: 4pt;
	}
	.fa-bars{
			font-size: 30px;
			padding: 0px;
			margin-left: 4px;
		/* 	margin-top: 4px;  */
			margin-top: 2px; 
		
	}

	.iconos {
		margin-left: 255px;
	}
	
	.iconos a {
		margin-left: 15px;
		position: relative;
		top: 5px;
	}
	
	
}

@media screen and (max-width: 375px) {
	#map {
		height: 94%;
	}

	.logo .platzigram {
		font-family: 'Oleo Script';
		font-size: 16px;
		margin-left: 2px;
		position: absolute;
		margin-top: 4px;
	}

  .logo {
  	float: left;
  	padding: 2px 0 0 0px;
  	text-decoration: none;
	}

	.logo img{
		float: left;
		padding: 0px 0 0 0px;
		text-decoration: none;
	}

  a img{
		width: 26px;
    height: 26px;
		margin-left: 20px;
		margin-top: 2px;
	}

	.fa-globe-americas{
		margin-left: -14em;
		font-size: 1.3em;
		top: 4pt;
	}
			
	.fa-comment-dots{
		margin-left: -12em;
		font-size: 1.3em;
		top: 4pt;
	}
			
	.fa-sync-alt{
		margin-left: -10em;
		font-size: 1.3em;
		top: 4pt;
	}

	.iconos {
		margin-left: 255px;
	}
	
	.iconos a {
		margin-left: 3px;
		position: relative;
		top: 5px;
	}
}

@media screen and (max-width: 360px) {
	#map {
		height: 94%;
	}

	.logo .platzigram {
		font-family: 'Oleo Script';
		font-size: 16px;
		margin-left: 2px;
		position: absolute;
		margin-top: 4px;
	}

  .logo {
  	float: left;
  	padding: 2px 0 0 0px;
  	text-decoration: none;
	}

	.logo img{
		float: left;
		padding: 0px 0 0 0px;
		text-decoration: none;
	}

  a img{
		width: 26px;
    height: 26px;
		margin-left: 25px;
		margin-top: 2px;
	}

	.fa-globe-americas{
		margin-left: -14em;
		font-size: 1.3em;
		top: 4pt;
	}
			
	.fa-comment-dots{
		margin-left: -12em;
		font-size: 1.3em;
		top: 4pt;
	}
			
	.fa-sync-alt{
		margin-left: -10em;
		font-size: 1.3em;
		top: 4pt;
	}

	.iconos {
		margin-left: 250px;
	}
	
	.iconos a {
		margin-left: 3px;
		position: relative;
		top: 5px;
	}
}

@media  (max-width: 320px) {

	#map {
		height: 94%;
	}
	.logo .platzigram {
		font-family: 'Oleo Script';
		font-size: 12px;
		margin-left: 0.5em;
		position: absolute;
		margin-top: 2px;
	}

  .logo {
  	float: left;
  	padding: 2px 0 0 0px;
  	text-decoration: none;
	}

	.logo img{
		float: left;
		padding: 0px 0 0 0px;
		text-decoration: none;
	}

  a img{
		width: 26px;
    height: 26px;
		margin-left: 1.5em;
		margin-top: 2px;
	}

	.fa-globe-americas{
		margin-left: -14em;
		font-size: 1em;
		top: 4pt;	
	}
			
	.fa-comment-dots{
		margin-left: -12em;
		font-size: 1.1em;
		top: 4pt;	
	}
			
	.fa-sync-alt{
		margin-left: -10em;
		font-size: 1em;
		top: 4pt;
	}

	.iconos {
		margin-left: 200px;
	}

	.iconos a {
		margin-left: 10px;
		position: relative;
		top: 5px;
	}
}


