*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.tablaCantidad {
  text-align: center;
  z-index: 10;
  margin-left: 70%;
  padding: 0%;
  top: 4.2pt;
  position: absolute;
}

.pricing-item {
  border-radius: 3px;
  display: inline-block;
  width: 85px; /* ancho del pane de los titulos */
  height: auto;
  margin: 0px;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.3, 0.6, 0.2, 1.8);
}

.pricing-item:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.pricing-item .pricing-title {
  width: 100%;
  color: white;
  display: block;
  position: relative;
  background: #FF4136;
  padding: 0px;
  font-weight: bold;
  font-size: 15px; /* tamaño de los titulos */
}

.pricing-item .pricing-titles {
  width: 100%;
  display: block;
  position: relative;
  background: #FF4136;
  padding: 0px;
  font-weight: bold;
  font-size: 15px; /* tamaño de los titulos */
}

.pricing-item.pricing-featured .pricing-title {
  background: #FF8000;
}

.pricing-item.pricing-featured .pricing-titles {
  background: rgba(255, 251, 0, 0.89);
}

.pricing-item.pricing-featured-total .pricing-titles {
  background: rgb(0, 255, 13);
}

/* Cantidad capturas */

.cantidad {
  display: flex;
  align-items: center;
  color: black;
}

.cantidadSecuestro {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  top: 15px;
  text-align: center;
  margin: 10px auto;
  display: block;
}

.cantidadExtorsion {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  top: 15px;
  text-align: center;
  margin: 10px auto;
  display: none;
}

.cantidadOtros {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  top: 15px;
  text-align: center;
  margin: 10px auto;
  display: block;
}

.cantidadTotal {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  top: 15px;
  text-align: center;
  margin: 10px auto;
  display: block;
}

.pricing-item .cantidadSecuestro {
  background: #FF4136;
  /* border: 2px solid  #FF4136; */
}

.pricing-item.pricing-featured .cantidadExtorsion {
  background: #FF8000;
  /* border: 2px solid #FF8000; */
}

.pricing-item.pricing-featured .cantidadOtros {
  background: rgba(255, 251, 0, 0.89);
  /* border: 2px solid rgba(255, 251, 0, 0.89); */
}

.pricing-item.pricing-featured-total .cantidadTotal {
  background: rgb(0, 255, 13);
  /* border: 2px solid rgb(0, 255, 13); */
}

@media (max-width: 1310px) {
  .tablaCantidad {
    text-align: center;
    z-index: 10;
    margin-left: 80%;
    padding: 0%;
    top: 65pt;
  	position: absolute;
  }

  /* Cantidad capturas */
.cantidadSecuestro {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background: #ff4600;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  top: 10px;
  right: 0px;
  font-weight: bold;
  margin: 10px auto;
}

.cantidadExtorsion {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background: #ff4600;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  top: 10px;
  right: 0px;
  font-weight: bold;
  margin: 10px auto;
}
.cantidadOtros {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background: #ff4600;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  top: 10px;
  right: 0px;
  font-weight: bold;
  margin: 10px auto;
}

.cantidadTotal {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background: #ff4600;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  top: 10px;
  right: 0px;
  font-weight: bold;
  margin: 10px auto;
}

.pricing-item .cantidadSecuestro {
  background: #FF4136;
  /* border: 0px solid  #FF4136; */
}

.pricing-item.pricing-featured .cantidadExtorsion {
  background: #FF8000;
 /*  border: 0px solid #FF8000; */
}

.pricing-item.pricing-featured .cantidadOtros {
  background: rgba(255, 251, 0, 0.89);
  /* border: 0px solid rgba(255, 251, 0, 0.89); */
}

.pricing-item.pricing-featured-total .cantidadTotal {
  background: rgb(0, 255, 13);
  /* border: 0px solid rgb(0, 255, 13); */
}

.pricing-item {
  border-radius: 5px;
  display: inline-block;
  width: 69px; /* ancho del pane de los titulos */
  height: auto;
  margin: 0px;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.3, 0.6, 0.2, 1.8);
}
.pricing-item .pricing-title {
  width: 100%;
  color: white;
  display: block;
  position: relative;
  background: #FF4136;
  padding: 0px;
  font-weight: bold;
  font-size: 13px; /* tamaño de los titulos */
  height: 20px;
  line-height: 20px;
}
  
.pricing-item .pricing-titles {
  width: 100%;
  display: block;
  position: relative;
  background: #FF4136;
  padding: 0px;
  font-weight: bold;
  font-size: 13px; /* tamaño de los titulos */
  height: 20px;
  line-height: 20px;

}
}