html {
  height: 100%;
  background: black;
}

body {
  height: inherit;
  margin: 0;
}


.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}

@media (orientation: landscape) {
  img {
    height: 100%;
    object-fit: cover;
  }
}
