<!DOCTYPE HTML>
<html>
	<head>
		<title>contacto</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="shortcut icon" type="image/x-icon" href="../ico/./contacto.ico">
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">
				<!-- Header -->
					<header id="header">
						<h1>Informacion de contacto</h1>
						<p> &nbsp;&bull;&nbsp; Ing. Jorge Velasquez &nbsp;&bull;&nbsp; </p>
						<p>Desarrollo de mapas de calor de acuerdo a las necesidades del cliente </p>
						<nav>
							<ul>
								<li><a href="tel:3217209185" class="icon fa-phone"><span class="label">Telefono</span></a></li>
								<li><a href="https://api.whatsapp.com/send?phone=573217209185" class="icon fa-whatsapp"><span class="label">whatsapp</span></a></li>
								<li><a href="https://mail.google.com/mail" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>
				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Desarrollo a la medida: <a href="#">Maps calor</a>.</span>
					</footer>
			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>
